      <p>
        <span class="header">%NAME%</span>
	%SUMMARY%
      </p>

      <p>
        <img src="%PREVIEW%" alt="imgLeft example" class="imgLeft"/>
        <ul>
          <li>Version: %VERSION%</li>
          <li>Release date: %RELEASEDATE%</li>
          <li>Languages: %LANGUAGES%</li>
          <li>Size: %SIZE%</li>
        </ul>
	<br/>
      </p>

      <p>
      <a href="%DOWNLOAD%">Download</a> |
      <a href="%RATING%">Rating</a> |
      <a href="%SAMEAUTHOR%">More from %AUTHOR%</a> |
      <a href="%SAMECATEGORY%">All %CATEGORY% entries</a>
      </p>
